.rhea-hero-widget {

  &-wrapper {
    position: relative;
    margin: 0;
    padding: 35px 0;
  }

  &-bg-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 68%;
    height: 100%;
    z-index: 1;
    background-color: #edf8fe;
  }

  &-inner-wrapper {
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
  }

  &-col-left,
  &-col-right {
    width: 100%;
    padding: 15px;
  }

  &-title {
    margin: 0 0 17px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.23;
  }

  &-title-divider {
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 17px;
    background-color: #e33b4a;
  }

  &-description {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
  }

  &-form-title {
    margin: 0 0 17px;
    font-size: 18px;
    font-weight: 500;
  }

  &-form {
    position: relative;
    z-index: 10;
    margin: 0 0 35px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(148, 186, 207, 0.35);
    background-color: #fff;

    &-fields-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &-fields {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 auto;
    }

    &-field {
      flex: 1 1 100%;
      padding: 17px 20px 15px;
      border: 0 solid #e5e5e5;
      border-bottom-width: 1px;
    }

    &-field-submit {
      flex: 1 1 100%;
      padding: 18px 20px;
    }

    &-field-submit-button {
      width: 100%;
      padding: 17px 15px;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      white-space: normal;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
      background-color: #2c99da;
      color: #fff;

      &:hover {
        background-color: darken(#2c99da, 10%);
      }
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-size: 13px;
      font-weight: 500;
      line-height: 1;
      color: #013a51;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
      width: 100%;
    }

    .bootstrap-select.rhea_multi_select_picker > .dropdown-toggle {
      height: auto;
      padding: 0;
      cursor: pointer;
      border-radius: 0;
      border: none;
      text-shadow: none;
      transition: color 0.3s ease-in-out;
      background-color: transparent;
    }

    .bootstrap-select.rhea_multi_select_picker > .dropdown-toggle:hover,
    .bootstrap-select.rhea_multi_select_picker.open > .dropdown-toggle {
      color: #000;
    }

    // Form Color
    --form-color: #818e93;

    .bootstrap-select.rhea_multi_select_picker.open > .dropdown-menu {
      margin-top: 10px;
    }

    .bootstrap-select.rhea_multi_select_picker > .dropdown-menu li {
      transition: background 0.2s ease-in-out;

      a {
        transition: background 0.2s ease-in-out;
      }

      &:hover {
        background: #2c99da;

        a {
          color: #fff;
        }
      }
    }

    .bootstrap-select.rhea_multi_select_picker > .dropdown-toggle {

      .caret {
        top: 54%;
        right: 0;
        transition: border-color 0.3s ease-in-out;
        border-top-color: #ccd5d7;
      }

      &:hover .caret {
        border-top-color: #000;
      }
    }

    select,
    input[type="text"],
    .bootstrap-select.rhea_multi_select_picker > .dropdown-toggle {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      font-size: 15px;
      line-height: 1;
      border: none;
      color: var(--form-color);
    }

    select:focus {
      outline: none;
    }

    input::-webkit-input-placeholder {
      font-family: inherit;
      font-size: 15px;
      line-height: 1;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: var(--form-color);
    }

    ::-moz-placeholder { /* Firefox 19+ */
      color: var(--form-color);
    }

    :-ms-input-placeholder { /* IE 10+ */
      color: var(--form-color);
    }

    :-moz-placeholder { /* Firefox 18- */
      color: var(--form-color);
    }
  }

  &-testimonial-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &-testimonial-image img {
    display: block;
    width: 55px;
    height: 55px;
    margin-right: 12px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 5px 15px rgba(214, 200, 153, 0.35);
  }

  &-testimonial-content {
    width: calc(100% - 70px);
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    background: none;
    color: #58676d;
  }

  &-testimonial-name {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }

  &-image {

    img {
      border-radius: 10px;
    }
  }
}

@media (min-width: 768px) {
  .rhea-hero-widget {

    &-wrapper {
      padding: 80px 30px;
    }

    &-inner-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 700px;
    }

    &-col-left {
      width: 59.912280701754386%;
      padding: 6px 25px 0 0;
    }

    &-col-right {
      width: 40.087719298245614%;
      padding: 0;
    }

    &-title-divider {
      margin-bottom: 20px;
    }

    &-description {
      margin-bottom: 30px;
      font-size: 16px;
    }

    &-form-title {
      margin-bottom: 20px;
      font-size: 18px;
    }

    &-form {
      min-width: 650px;

      &-field {
        flex: 1 1 33.3333%;
      }
    }
  }
}

@media (min-width: 1025px) {
  .rhea-hero-widget {

    &-wrapper {
      padding: 160px 50px;
    }

    &-inner-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 1140px;
    }

    &-col-left {
      width: 59.912280701754386%;
      padding: 6px 140px 0 0;
    }

    &-col-right {
      width: 40.087719298245614%;
      padding: 0;
    }

    &-title {
      font-size: 42px;
    }

    &-title-divider {
      margin-bottom: 20px;
    }

    &-description {
      margin-bottom: 50px;
      font-size: 18px;
    }

    &-form-title {
      margin-bottom: 20px;
      font-size: 24px;
    }

    &-form {
      min-width: 830px;

      &-field {
        border-bottom-width: 0;
        border-left-width: 1px;

        &:first-of-type {
          border-left-width: 0;
        }
      }

      &-field-submit {
        flex: 1 1 19%;
        max-width: 19%;
        padding: 10px;
      }

      &-field-submit-button {
        border-radius: 0 5px 5px 0;
      }
    }

    &-testimonial-wrapper {
      align-items: center;
    }

    &-testimonial-content {
      width: calc(100% - 110px);
    }
  }
}

.rtl {

  .rhea-hero-widget-bg-placeholder {
    right: 0;
    left: auto;
  }

  .rhea-hero-widget-testimonial-image img {
    margin-right: 0;
    margin-left: 12px;
  }

  .rhea-hero-widget-form .bootstrap-select.rhea_multi_select_picker > .dropdown-toggle .caret {
    right: auto;
    left: 0;
  }

  @media (min-width: 768px) {

    .rhea-hero-widget-col-left {
      padding-right: 0;
      padding-left: 50px;
    }
  }

  @media (min-width: 1025px) {

    .rhea-hero-widget-col-left {
      padding-right: 0;
      padding-left: 140px;
    }

    .rhea-hero-widget-form-field {
      border-right-width: 1px;
      border-left-width: 0;
    }

    .rhea-hero-widget-form-field:first-of-type {
      border-right-width: 0;
    }

    .rhea-hero-widget-form .rhea-hero-widget-form-field-submit-button {
      border-radius: 5px 0 0 5px;
    }
  }
}