.rhea-how-it-works-widget {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .rhea-hiw-widget-item {
    width: 24%;
    margin-bottom: 30px;

    &-icon,
    &-image {
      margin-bottom: 30px;
    }

    &-title {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 500;
      color: #1a1a1a;
    }

    &-desc {
      font-size: 16px;
      line-height: 1.678;
      color: #808080;
    }

    img {
      max-width: 100%;
      border-radius: 5px;
    }

    svg {
      height: auto;
    }
  }

  .rhea-hiw-widget-item-divider-wrapper {
    display: none;
    position: relative;
    width: 14%;
    overflow: hidden;

    i {
      font-size: 14px;
    }

    svg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .rhea-hiw-widget-item-divider {
      display: block;
      position: absolute;
      top: 39px;
      left: 50%;
      z-index: 2;
      width: 40px;
      height: 40px;
      transform: translateX(-50%);
      line-height: 40px;
      text-align: center;
      border-radius: 100px;
      background-color: #EC0000;
      color: #fff;
    }

    &.inverted {
      .rhea-hiw-widget-item-divider {
        top: 70px;
      }
    }
  }
}

[data-elementor-device-mode="mobile"]{
  .rhea-how-it-works-widget .rhea-hiw-widget-item {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

[data-elementor-device-mode="mobile_extra"],
[data-elementor-device-mode="tablet"] {
  .rhea-how-it-works-widget .rhea-hiw-widget-item-divider-wrapper {
    display: block;
    margin-top: 10px;
  }
}

[data-elementor-device-mode="tablet_extra"],
[data-elementor-device-mode="laptop"],
[data-elementor-device-mode="desktop"],
[data-elementor-device-mode="widescreen"] {
  .rhea-how-it-works-widget .rhea-hiw-widget-item-divider-wrapper {
    display: block;
    margin-top: 24px;
  }
}

.rtl {
  .rhea-how-it-works-widget .rhea-hiw-widget-item-divider-wrapper i {
    transform: scale(-1, 1);
  }
}