/**
 * Buttons
 */
.rh-btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  vertical-align: middle;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;

  &:focus,
  &:hover {
    outline: none;
  }

  span {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}

.rh-btn-primary {
  background: var(--rh-global-color-primary);
  color: #fff;

  &:hover {
    background: var(--rh-global-color-primary-dark, rgba(0, 0, 0, .2));
    color: #fff;
  }
}

.rh-btn-secondary {
  background: var(--rh-global-color-secondary);
  color: #fff;

  &:hover {
    background: var(--rh-global-color-secondary-dark, rgba(0, 0, 0, .2));
    color: #fff;
  }
}

.rh_btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: none;
  transition: all .2s ease-in-out;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.btn-mini {
  font-size: 1.3rem;
}

.btn-small {
  padding: 1.5rem 2.5rem;
}

.btn-large {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.5rem 3rem;
}

.rh_btn--primary {
  background: var(--rh-global-color-primary);

  &:hover {
    background: var(--rh-global-color-primary-dark, rgba(0, 0, 0, .2));
  }
}

.rh_btn--secondary {
  background: var(--rh-global-color-secondary);

  &:hover {
    background: var(--rh-global-color-secondary-dark, rgba(0, 0, 0, .2));
  }
}

.rh_btn--greyBG {
  background: rgba(#fff, 0.25);

  &:hover {
    background: rgba(#fff, 0.4);
  }
}

.rh_btn--greybtn {
  background: #aeadad;

  &:hover {
    background: #838181;
  }
}

.rh_btn--blackBG {
  background: $rh_btn_black;

  &:hover {
    background: rgba($rh_btn_black, 0.8);
  }
}

.rh_btn--whiteBG {
  background: #fff;
  color: $rh_btn_black;

  &:hover {
    background: rgba(#fff, 0.8);
    color: $rh_btn_black;
  }
}

.rh_btn--profileDelete {
  background: #cccccc;

  &:hover {
    background: darken(#cccccc, 5%);
  }
}