/**
* RealHomes Social Login
*/
$sansFontFamily:        Helvetica, Arial, sans-serif !default;
$headingsFontFamily:   'Lato', $sansFontFamily !default; // empty to use BS default, $baseFontFamily
$RobotoFontFamily:      'Roboto', $sansFontFamily;
$headingsColor:         #394041 !default; // empty to use BS default, $textColor

.realhomes-social-login {
	.realhomes-social-login-widget {
	  margin-bottom: 20px;
	  padding-top: 20px;
	
	  .rsl-connect-with{
		  font-family: $headingsFontFamily;
		  color: $headingsColor;
	  }
	  .rsl-ajax-message {
		  margin-top: 10px;
		  
		  &.error {
			  color: red;
		  }
	  }
	  .rsl-provider-list{
		  padding-top: 7px;
		  display: flex;
  
		  a {
			  color: #fff;
  
			  &:hover {
				  color: #fff;
			  }
		  }
	  }
	  .rsl-provider{
		  display: inline-block;
		  padding: 8px 13px;
		  margin:5px 0 0 6px;
		  font-family: $RobotoFontFamily;
		  font-size: 13px;
		  line-height: 20px;
		  text-align: center;
		  color: #fff;
		  cursor: pointer;
		  background-color: #e3712c;
		  flex: auto;
  
		  &:first-child {
			  margin-left: 0;
		  }
  
		  &:hover {
			  background-color: #1a1a1a !important;
		  }
  
		  &.in-progress {
			  cursor: normal;
			  background-color: grey;
			  &:hover {
				  background-color: grey !important;
			  }
		  }
	  }
	  i.fa{
		  display: inline-block;
	  }
	  .rsl-provider-facebook{
		  background-color: #3b5998;
		  &:focus,
		  &:hover{
		  background-color: darken( #3b5998 , 5% );
		  }
	  }
	  .rsl-provider-google{
		  background-color: #dd4b39;
		  &:focus,
		  &:hover{
		  background-color: #4285f4;
		  }
	  }
	  .rsl-provider-twitter{
		  background-color: #1da1f2;
		  &:focus,
		  &:hover{
		  background-color: #14171a;
		  }
	  }
	  .rsl-provider-yahoo{
		  background-color: #410093;
		  &:focus,
		  &:hover{
		  background-color: darken( #410093 , 5% );
		  }
	  }
	  .rsl-provider-linkedin{
		  background-color: #0077b5;
		  &:focus,
		  &:hover{
		  background-color: #8d6cab;
		  }
	  }
	  .rsl-provider-instagram{
		  background-color: #f77737;
		  &:focus,
		  &:hover{
		  background-color: #fcaf45;
		  }
	  }
	  .rsl-provider-wordpress{
		  background-color: #21759b;
		  &:focus,
		  &:hover{
		  background-color: #464646;
		  }
	  }
	  .rsl-provider-disqus{
		  background-color: #2e9fff;
		  &:focus,
		  &:hover{
		  background-color: darken( #2e9fff , 5% );
		  }
	  }
	  .rsl-provider-reddit{
		  background-color: #ff4500;
		  &:focus,
		  &:hover{
		  background-color: #5f99cf;
		  }
	  }
	  .rsl-provider-foursquare{
		  background-color: #f94877;
		  &:focus,
		  &:hover{
		  background-color: #0732a2;
		  }
	  }
	  .rsl-provider-lastfm{
		  background-color: #d51007;
		  &:focus,
		  &:hover{
		  background-color: darken( #d51007 , 5% );
		  }
	  }
	  .rsl-provider-tumblr{
		  background-color: #35465c;
		  &:focus,
		  &:hover{
		  background-color: darken( #35465c , 5% );
		  }
	  }
	  .rsl-provider-goodreads{
		  background-color: #553b08;
		  &:focus,
		  &:hover{
		  background-color: darken( #553b08 , 5% );
		  }
	  }
	  .rsl-provider-stackoverflow{
		  background-color: #fe7a15;
		  &:focus,
		  &:hover{
		  background-color: darken( #fe7a15 , 5% );
		  }
	  }
	  .rsl-provider-github{
		  background-color: #4183c4;
		  &:focus,
		  &:hover{
		  background-color: darken( #4183c4 , 5% );
		  }
	  }
	  .rsl-provider-dribbble{
		  background-color: #ea4c89;
		  &:focus,
		  &:hover{
		  background-color: #444444;
		  }
	  }
	  .rsl-provider-500px{
		  background-color: #0099e5;
		  &:focus,
		  &:hover{
		  background-color: #ff4c4c;
		  }
	  }
	  .rsl-provider-skyrock{
		  background-color: #009aff;
		  &:focus,
		  &:hover{
		  background-color: darken( #009aff , 5% );
		  }
	  }
	  .rsl-provider-mixi{
		  background-color: #E67E22;
		  &:focus,
		  &:hover{
		  background-color: darken( #E67E22 , 5% );
		  }
	  }
	  .rsl-provider-steam{
		  background-color: #000000;
		  &:focus,
		  &:hover{
		  background-color: #00adee;
		  }
	  }
	  .rsl-provider-twitchtv{
		  background-color: #6441a5;
		  &:focus,
		  &:hover{
		  background-color: #b9a3e3;
		  }
	  }
	  .rsl-provider-vkontakte{
		  background-color: #45668e;
		  &:focus,
		  &:hover{
		  background-color: darken( #45668e , 5% );
		  }
	  }
	  .rsl-provider-mailru{
		  background-color: #07c;
		  &:focus,
		  &:hover{
		  background-color: darken( #07c , 5% );
		  }
	  }
	  .rsl-provider-yandex{
		  background-color: #ffcc00;
		  &:focus,
		  &:hover{
		  background-color: darken( #ffcc00 , 5% );
		  }
	  }
	  .rsl-provider-odnoklassniki{
		  background-color: #ed812b;
		  &:focus,
		  &:hover{
		  background-color: darken( #ed812b , 5% );
		  }
	  }
	  .rsl-provider-aol{
		  background-color: #ff0b00;
		  &:focus,
		  &:hover{
		  background-color: #00c4ff;
		  }
	  }
	  .rsl-provider-live{
		  background-color: #00bcf2;
		  &:focus,
		  &:hover{
		  background-color: darken( #00bcf2 , 5% );
		  }
	  }
	  .rsl-provider-pixelpin{
		  background-color: #1d8bd5;
		  &:focus,
		  &:hover{
		  background-color: darken( #1d8bd5 , 5% );
		  }
	  }
	  }
  }