/* Page Banner
--------------------------------------------------------*/
.page-head {
  margin-bottom: 35px;
  padding-top: 42px;
  min-height: 147px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  .container {
    position: relative;
  }
  .wrap {
    float: left;
  }
  span, p {
    margin: 0;
  }

  .page-title {
    font-size: 24px;
    font-family: $RobotoFontFamily;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
    span {
      display: inline-block;
      background-color: #f5f4f3;
      opacity: 0.9;
      padding: 7px 38px 7px 18px;
    }
  }
  p {
    background-color: #37B3D9;
    opacity: 0.9;
    padding: 17px 20px 17px 18px;
    color: $white;
  }
  div.page-breadcrumbs {
    background-color: #37B3D9;
    opacity: 0.9;
    padding: 17px 20px 17px 18px;
    color: $white;
    a {
      color: $white;
      &:focus,
      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }
  .breadcrumbs-separator {
    margin: 0 8px;
  }
  .property-breadcrumbs {
    ul {
      list-style: none;
      margin: 0;
      li {
        display: inline;
      }
    }
  }
}

.page-template-properties-search .page-head,
.page-template-home .page-head {
  margin-bottom: 100px;
}

.disable-responsive .page-head {
  min-width: 940px;
}

.header-wrapper + .main-wrapper .advance-search .search-heading {
  position: static;
  margin-top: 30px;
}

/* Map Based Template
--------------------------------------------------------*/
#map-head {
  width: 100%;
  margin-bottom: 35px;
}

.disable-responsive #map-head {
  min-width: 940px;
}

body.home #map-head {
  margin-bottom: 0;
}

body.page-template-properties-search #map-head {
  margin-bottom: 0;
}

#listing-map {
  height: 550px;
  position: relative;
  img {
    max-width: 100%;
  }
  .gm-svpc {
    img {
      max-width: none;
    }
  }
  .gm-style-iw {
    left: 22px !important;
  }
}
